<form autocomplete="off" class="cypher-sheets-form">
    <h2>MCG Settings</h2>
    <section>
        <div class="sheet-checkboxes">
            <div class="form-group">
                <input type="checkbox" name="useNumeneraSheets" id="useNumeneraSheets" data-dtype="Boolean" {{checked useNumeneraSheets}}/><label for="useNumeneraSheets">{{localize "CYPHER-SHEETS.settings.numenera.Name"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.numenera.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useClaimtheSkySheets" id="useClaimtheSkySheets" data-dtype="Boolean" {{checked useClaimtheSkySheets}}/><label for="useClaimtheSkySheets">{{localize "CYPHER-SHEETS.settings.claim-the-sky.Name"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.claim-the-sky.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useGodforsakenSheets" id="useGodforsakenSheets" data-dtype="Boolean" {{checked useGodforsakenSheets}}/><label for="useGodforsakenSheets">{{localize "CYPHER-SHEETS.settings.godforsaken.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.godforsaken.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useGodsoftheFallSheets" id="useGodsoftheFallSheets" data-dtype="Boolean" {{checked useGodsoftheFallSheets}}/><label for="useGodsoftheFallSheets">{{localize "CYPHER-SHEETS.settings.gods-of-the-fall.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.gods-of-the-fall.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="usePredationSheets" id="usePredationSheets" data-dtype="Boolean" {{checked usePredationSheets}}/><label for="usePredationSheets">{{localize "CYPHER-SHEETS.settings.predation.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.predation.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="usePtolusSheets" id="usePtolusSheets" data-dtype="Boolean" {{checked usePtolusSheets}}/><label for="usePtolusSheets">{{localize "CYPHER-SHEETS.settings.ptolus.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.ptolus.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useStayAliveSheets" id="useStayAliveSheets" data-dtype="Boolean" {{checked useStayAliveSheets}}/><label for="useStayAliveSheets">{{localize "CYPHER-SHEETS.settings.stay-alive.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.stay-alive.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useTheStarsAreFireSheets" id="useTheStarsAreFireSheets" data-dtype="Boolean" {{checked useTheStarsAreFireSheets}}/><label for="useTheStarsAreFireSheets">{{localize "CYPHER-SHEETS.settings.the-stars-are-fire.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.the-stars-are-fire.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useTheStrangeSheets" id="useTheStrangeSheets" data-dtype="Boolean" {{checked useTheStrangeSheets}}/><label for="useTheStrangeSheets">{{localize "CYPHER-SHEETS.settings.the-strange.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.the-strange.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useUnmaskedSheets" id="useUnmaskedSheets" data-dtype="Boolean" {{checked useUnmaskedSheets}}/><label for="useUnmaskedSheets">{{localize "CYPHER-SHEETS.settings.unmasked.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.unmasked.Hint"}}</p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useWAAMHSheets" id="useWAAMHSheets" data-dtype="Boolean" {{checked useWAAMHSheets}}/><label for="useWAAMHSheets">{{localize "CYPHER-SHEETS.settings.waamh.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> {{localize "CYPHER-SHEETS.settings.waamh.Hint"}}</p>
            </div>
        </div>
        <figure id="form-img">
            <img src="../../../modules/cyphersheets/styles/images/config-dialog/Godforsaken-72-Roberto-Pitturru.webp" alt="Warrior in full armor holding a sword.">
            <figcaption>Art by Roberto Pitturru,<br>&copy;2020 Monte Cook Games, LLC.<br>www.montecookgames.com</figcaption>
        </figure>
    </section>
        <div class="form-group" style="margin: 10px;">
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> {{localize "CYPHER-SHEETS.settings.cypher-sheets.Submit"}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize "CYPHER-SHEETS.settings.cypher-sheets.Reset"}}
            </button>
        </div>
</form>