<form autocomplete="off" class="cypher-sheets-form">
    <section id="mcg-accordion-card">
        <p class="card-title"><i class="fas fa-caret-right"></i> MCG Fan Use Policy - Abbreviated Statement</p>
        <div class="card-body">
            <p>Numenera, the Cypher System, No Thank You, Evil!, Invisible Sun, and their respective logos are trademarks of Monte Cook Games, LLC in the U.S.A. and other countries. All Monte Cook Games characters and character names, and the distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content derived from Monte Cook Games publications is © 2013-2021 Monte Cook Games, LLC.</p>
            <a href="https://www.montecookgames.com/fan-support/fan-use-policy/" target="_blank" rel="noreferrer noopener">MCG Full Disclaimer</a>
        </div>
    </section>
    <h2>Genres & Themes</h2>
    <section class="sheet-settings">
        <div class="sheet-checkboxes">
            <div class="form-group">
                <input type="checkbox" name="useNumeneraSheets" id="useNumeneraSheets" data-dtype="Boolean" {{checked useNumeneraSheets}}/><label for="useNumeneraSheets">{{localize "CYPHER-SHEETS.settings.numenera.Name"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.numenera.Hint.1"}}<img src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/NumeneraMonolith.jpeg" alt="Numenera Amber Monolith sheet"></span>, <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.numenera.Hint.2"}}<img class="move-left" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/NumeneraObelisk.jpeg" alt="Numenera Obelisk of the Water God sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useClaimtheSkySheets" id="useClaimtheSkySheets" data-dtype="Boolean" {{checked useClaimtheSkySheets}}/><label for="useClaimtheSkySheets">{{localize "CYPHER-SHEETS.settings.claim-the-sky.Name"}}
                </label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.claim-the-sky.Hint.1"}}<img src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/ClaimSkySuperheroes.jpeg" alt="Claim the Sky Superheroes sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useGenericThemesSheets" id="useGenericThemesSheets" data-dtype="Boolean" {{checked useGenericThemesSheets}}/><label for="useGenericThemesSheets">{{localize "CYPHER-SHEETS.settings.generic.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.generic.Hint.2"}}<img src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/MoldvayGreen.jpeg" alt="Moldvay Green sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useGodforsakenSheets" id="useGodforsakenSheets" data-dtype="Boolean" {{checked useGodforsakenSheets}}/><label for="useGodforsakenSheets">{{localize "CYPHER-SHEETS.settings.godforsaken.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.godforsaken.Hint.1"}}<img src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/GodforsakenArcher.jpeg" alt="Godforsaken Dark Archer sheet"></span>, <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.godforsaken.Hint.2"}}<img src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/GodforsakenCombat.jpeg" alt="Godforsaken Fantasy Combat sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useGodsoftheFallSheets" id="useGodsoftheFallSheets" data-dtype="Boolean" {{checked useGodsoftheFallSheets}}/><label for="useGodsoftheFallSheets">{{localize "CYPHER-SHEETS.settings.gods-of-the-fall.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.gods-of-the-fall.Hint.1"}}<img class="move-middle" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/GofFDivineSpark.jpeg" alt="Gods of the Fall Divine Spark sheet"></span>, <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.gods-of-the-fall.Hint.2"}}<img class="move-middle" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/GofFDragon.jpeg" alt="Gods of the Fall Soulrest Dragon sheet"></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useExpandedWorldsSheets" id="useExpandedWorldsSheets" data-dtype="Boolean" {{checked useExpandedWorldsSheets}}/>
                <label for="useExpandedWorldsSheets"> {{localize "CYPHER-SHEETS.settings.expanded-worlds.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.expanded-worlds.Hint.3"}}<img class="move-middle" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/PostApocalyptic.jpeg" alt="Expanded Worlds Post-Apocalyptic sheet"></span>
                </p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="usePredationSheets" id="usePredationSheets" data-dtype="Boolean" {{checked usePredationSheets}}/><label for="usePredationSheets">{{localize "CYPHER-SHEETS.settings.predation.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.predation.Hint.1"}}<img class="move-middle" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/PredationTRex.jpeg" alt="Predation Tyrannosaurus Rex sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="usePtolusSheets" id="usePtolusSheets" data-dtype="Boolean" {{checked usePtolusSheets}}/><label for="usePtolusSheets">{{localize "CYPHER-SHEETS.settings.ptolus.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.ptolus.Hint.1"}}<img class="move-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/PtolusCitySpire.jpeg" alt="Ptolus City by the Spire sheet"></span>, <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.ptolus.Hint.2"}}<img class="move-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/PtolusFighters.jpeg" alt="Ptolus Two Fighters sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useStayAliveSheets" id="useStayAliveSheets" data-dtype="Boolean" {{checked useStayAliveSheets}}/><label for="useStayAliveSheets">{{localize "CYPHER-SHEETS.settings.stay-alive.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.stay-alive.Hint.1"}}<img class="move-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/StayAliveSurrounded.jpeg" alt="Stay Alive! Completely Surrounded sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useTheStarsAreFireSheets" id="useTheStarsAreFireSheets" data-dtype="Boolean" {{checked useTheStarsAreFireSheets}}/><label for="useTheStarsAreFireSheets">{{localize "CYPHER-SHEETS.settings.the-stars-are-fire.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.the-stars-are-fire.Hint.1"}}<img class="move-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/StarsAreFireExplorer.jpeg" alt="The Stars Are Fire Lone Explorer sheet"></span>, <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.the-stars-are-fire.Hint.2"}}<img class="move-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/StarsAreFireStarfighter.jpeg" alt="The Stars Are Fire Starfighter sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useTheStrangeSheets" id="useTheStrangeSheets" data-dtype="Boolean" {{checked useTheStrangeSheets}}/><label for="useTheStrangeSheets">{{localize "CYPHER-SHEETS.settings.the-strange.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.the-strange.Hint.1"}}<img class="all-the-way-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/TheStrangeAlien.jpeg" alt="The Strange Alien Invasion sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useUnmaskedSheets" id="useUnmaskedSheets" data-dtype="Boolean" {{checked useUnmaskedSheets}}/><label for="useUnmaskedSheets">{{localize "CYPHER-SHEETS.settings.unmasked.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.unmasked.Hint.1"}}<img class="all-the-way-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/UnmaskedTeen.jpeg" alt="Unmasked Teen Form sheet"></span></p>
            </div>

            <div class="form-group">
                <input type="checkbox" name="useWAAMHSheets" id="useWAAMHSheets" data-dtype="Boolean" {{checked useWAAMHSheets}}/><label for="useWAAMHSheets">{{localize "CYPHER-SHEETS.settings.waamh.Name"}}</label>
                <p class="notes"><i class="fas fa-share"></i> <span class="sheet-preview">{{localize "CYPHER-SHEETS.settings.waamh.Hint.1"}}<img class="all-the-way-up" src="../../../modules/cyphersheets/styles/images/config-dialog/sheet-previews/WeAreMadCastle.jpeg" alt="We Are All Mad Here Fairytale Castle sheet"></span></p>
            </div>
        </div>
        <img id="form-img" src="../../../modules/cyphersheets/styles/images/config-dialog/Godforsaken-72-Roberto-Pitturru.webp" alt="Warrior in full armor holding a sword.">
    </section>
        <div class="form-group" style="margin: 10px;">
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> {{localize "CYPHER-SHEETS.settings.cypher-sheets.Submit"}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize "CYPHER-SHEETS.settings.cypher-sheets.Reset"}}
            </button>
        </div>
</form>