/* CUSTOM CYPHER SHEET */
/* repeated CSS elements for all style sheets */

:root {
  /* .archer colors */
  --font-color: #011714;
  --name-color: #036170;
  --name-shadow: #b4dcec;
  --hover-shadow: #035a68;
  --scrollbar-background: #046c7d80;
}

.custom-cypher-sheet {
  margin: -8px;
  padding: 5px 5px 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: var(--font-color);
}

.custom-cypher-sheet > form {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 3px;
  padding: 3px 2px 1px;
  margin: 1px;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
}

.custom-cypher-sheet input,
.custom-cypher-sheet select,
.custom-cypher-sheet .linkedButton {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  color: var(--font-color);
}

.custom-cypher-sheet input[name="name"],
.custom-cypher-sheet input[name="data.teen.basic.name"] {
  background: transparent;
  border: none;
  text-transform: uppercase;
  margin: 0 2px 0 5px;
  text-shadow: none;
}

.custom-cypher-sheet input[name="data.basic.tier"],
.custom-cypher-sheet input[name="data.basic.effort"],
.custom-cypher-sheet input[name="data.basic.xp"] {
  margin-right: 4px;
}

.custom-cypher-sheet input[name="data.basic.tier"] {
  margin-top: 18px;
}

.custom-cypher-sheet input:focus,
.custom-cypher-sheet .linkedButton:focus {
  box-shadow: 0 0 5px var(--hover-shadow);
}

.custom-cypher-sheet .linkedButton:hover {
  cursor: pointer;
  box-shadow: none;
}

.custom-cypher-sheet input:hover[type="checkbox"] {
  cursor: pointer;
}

.custom-cypher-sheet a:hover {
  text-shadow: 0 0 8px var(--hover-shadow);
}

.custom-cypher-sheet ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border: 1px solid var(--font-color);
}

.custom-cypher-sheet h1,
.custom-cypher-sheet h2 {
  border-bottom-color: var(--hover-shadow);
}

.custom-cypher-sheet label.label-basic-info:first-of-type {
  margin-top: 18px;
}

.custom-cypher-sheet
  > form
  .sheet-header
  .header-fields
  div.flexrow
  img.profile-img {
  height: 160px;
  width: 160px;
  margin-right: 0;
}

.custom-cypher-sheet .image-credit {
  margin: 0 2px;
  text-align: right;
  color: rgba(255, 255, 255, 0);
  font-size: 0.8em;
}
