/* ANIMATIONS */

@keyframes animateLeftRight {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

@keyframes animateCenterRight {
  from {
    background-position: center;
  }
  to {
    background-position: right;
  }
}

@keyframes animateRightLeft {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

@keyframes animateCenterLeft {
  from {
    background-position: center;
  }
  to {
    background-position: left;
  }
}

.animate-left-right {
  animation: animateLeftRight 150s linear infinite alternate;
}

.animate-center-right {
  animation: animateCenterRight 150s linear infinite alternate;
}

.animate-right-left {
  animation: animateRightLeft 150s linear infinite alternate;
}

.animate-center-left {
  animation: animateCenterLeft 150s linear infinite alternate;
}

@keyframes breathIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes breathOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.breath {
  animation: breathIn 15s ease-in-out infinite alternate;
}

.breath > form {
  animation: breathOut 15s ease-in-out infinite alternate;
}
