/* ANIMATIONS */

@keyframes animateRight {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes animateLeft {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.pan-right {
  animation: animateRight 150s linear infinite alternate;
}

.pan-left {
  animation: animateLeft 150s linear infinite alternate;
}

@keyframes breathIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes breathOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.breath {
  animation: breathIn 10s ease-in-out infinite alternate;
}

.breath > form {
  animation: breathOut 10s ease-in-out infinite alternate;
}
