/* claimthesky */

.claimthesky input[name="name"],
.claimthesky input[name="data.teen.basic.name"] {
  font: 2em "Flames";
  height: 37px;
  letter-spacing: -1.5px;
}

/* superheroes */

.superheroes {
  background-image: url("./images/claim-the-sky/Cypher-System-Rulebook-11-Robert-Pitturru.webp");
  background-position: center;
  --font-color: #800000;
  --name-shadow: #ffe154;
  --hover-shadow: #008080;
  --scrollbar-background: #80000080;
}

.superheroes input[name="name"],
.superheroes input[name="data.teen.basic.name"] {
  text-shadow: 0px 1px 1px var(--name-shadow);
}
