/* SETTINGS FORM */

.cypher-sheets-form p.notes > .fas {
  transform: scaleY(-1);
  margin-left: 32px;
  padding-top: 1px;
  color: #63625a;
}

.cypher-sheets-form input:hover,
.cypher-sheets-form label:hover,
button[data-key="cyphersheets.cyphersheetsconfig"] i:hover,
button[data-key="cyphersheets.cyphersheetsconfig"] label:hover,
.cypher-sheets-form .card-title:hover {
  cursor: pointer;
}

.cypher-sheets-form button,
button[data-key="cyphersheets.cyphersheetsconfig"] {
  transition: color 0.8s, background 1s, border 1s;
  margin: 0 2px;
}

.cypher-sheets-form button:hover,
button[data-key="cyphersheets.cyphersheetsconfig"]:hover {
  box-shadow: none;
  color: #d4d3cb;
  background: #343534;
  border: 2px groove #2c2a2a;
  cursor: pointer;
}

.cypher-sheets-form section.sheet-settings {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-height: fit-content;
}

.cypher-sheets-form .sheet-checkboxes {
  grid-column: 1 / 4;
  position: relative;
}

.cypher-sheets-form #form-img {
  grid-column: 4 / 6;
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: none;
  width: 100%;
  height: auto;
  align-self: center;
}

.cypher-sheets-form #mcg-accordion-card {
  margin-left: 285px;
  position: absolute;
}

.cypher-sheets-form #mcg-accordion-card .card-title {
  font-size: 1.05em;
}

.cypher-sheets-form label:hover,
.cypher-sheets-form #mcg-accordion-card .card-title:hover {
  text-shadow: 0 0 8px red;
}

.cypher-sheets-form #mcg-accordion-card i {
  transition: transform 0.5s, margin-right 0.3s;
  margin-right: -2px;
}

.cypher-sheets-form #mcg-accordion-card .arrow-down {
  transform: rotate(90deg);
  margin-right: 0;
}

.cypher-sheets-form #mcg-accordion-card .card-body {
  display: none;
  margin: -6.3px 0 5px;
  background: #e3dfd7c7;
  padding: 2px 5px;
  font-size: 0.8em;
  border: 1px solid #cbb8ae;
  border-radius: 3px;
}

.cypher-sheets-form #mcg-accordion-card .card-body a {
  display: block;
  text-align: right;
  color: black;
  margin: -15px 2px 2px;
}

.cypher-sheets-form .sheet-preview {
  position: relative;
  cursor: zoom-in;
}

.cypher-sheets-form .sheet-preview img {
  position: absolute;
  visibility: hidden;
  transform: translate(-10px, -20px);
  z-index: 1;
  max-width: 320px;
}

.cypher-sheets-form .sheet-preview img.move-left {
  transform: translate(-50px, -20px);
}

.cypher-sheets-form .sheet-preview img.move-middle {
  transform: translate(-10px, -120px);
}

.cypher-sheets-form .sheet-preview img.move-up {
  transform: translate(-10px, -220px);
}

.cypher-sheets-form .sheet-preview img.all-the-way-up {
  transform: translate(-10px, -320px);
}

.cypher-sheets-form .sheet-preview:hover {
  text-decoration: underline;
  font-weight: bold;
}

.cypher-sheets-form .sheet-preview:hover img {
  visibility: visible;
}

/* gets rid of blue border style from nice-cypher-add-ons */
.cypher-sheets-form :checked + label {
  border: none;
}
