/* FONTS */

/* numenera font */

@font-face {
  font-family: "QuadratSerial";
  src: url("./fonts/SoftMaker-QuadratSerial.otf") format("opentype");
}

/* fantasy font */

@font-face {
  font-family: "Endoralt";
  src: url("./fonts/ENDORALT.ttf") format("truetype");
}

/* supers */

@font-face {
  font-family: "Flames";
  src: url("./fonts/Flames.ttf") format("truetype");
}
