/* FONTS */

/* numenera font */

@font-face {
  font-family: "QuadratSerial";
  src: url("./fonts/SoftMaker-QuadratSerial.otf") format("opentype");
}

/* godforsaken & godsofthefall font */

@font-face {
  font-family: "Endoralt";
  src: url("./fonts/ENDORALT.ttf") format("truetype");
}

/* claimthesky font */

@font-face {
  font-family: "Flames";
  src: url("./fonts/Flames.ttf") format("truetype");
}

/* predation & thestrange font */
@font-face {
  font-family: "Extraction";
  src: url("./fonts/extraction.ttf") format("truetype");
}
