/* FONTS */

/* numenera font */

@font-face {
  font-family: "QuadratSerial";
  src: url("./fonts/SoftMaker-QuadratSerial.otf") format("opentype");
}

/* godforsaken & godsofthefall font */

@font-face {
  font-family: "Endoralt";
  src: url("./fonts/ENDORALT.ttf") format("truetype");
}

/* claimthesky font */

@font-face {
  font-family: "Flames";
  src: url("./fonts/Flames.ttf") format("truetype");
}

/* predation & thestrange font */
@font-face {
  font-family: "Extraction";
  src: url("./fonts/extraction.ttf") format("truetype");
}

/* stayalive font */
@font-face {
  font-family: "Swamp";
  src: url("./fonts/ilits.ttf") format("truetype");
}

/* starsarefire font */
@font-face {
  font-family: "Star Jedi Outline";
  src: url("./fonts/Starjout.ttf") format("truetype");
}

/* ptolus font */
@font-face {
  font-family: "Prince Valiant";
  src: url("./fonts/Prince-Valiant.ttf") format("truetype");
}

/* waamh font */
@font-face {
  font-family: "Cardinal";
  src: url("./fonts/Cardinal.ttf") format("truetype");
}

/* unmasked font */
@font-face {
  font-family: "Thunderman";
  src: url("./fonts/Thunderman.ttf") format("truetype");
}
