/* godforsaken */

.godforsaken {
  background-image: url("./images/godforsaken/Godforsaken-50-Angelo-Peluso.webp");
  color: var(--godforsaken);
  background-position: right;
}

.godforsaken input[name="name"] {
  font: 3em "Endoralt";
  letter-spacing: 2px;
  height: 42px;
  margin-top: -7px;
  text-shadow: 0px 2px 4px var(--godforsaken-name-shadow);
}

.godforsaken input,
.godforsaken select {
  color: var(--godforsaken);
}

.godforsaken input:focus {
  box-shadow: 0 0 5px var(--godforsaken-shadow);
}

.godforsaken a:hover {
  text-shadow: 0 0 8px var(--godforsaken-shadow);
}

.godforsaken ::-webkit-scrollbar-thumb {
  background: var(--godforsaken-transparent);
  border: 1px solid var(--godforsaken);
}

.godforsaken h1,
.godforsaken h2 {
  border-bottom-color: var(--godforsaken);
}
