/* godsofthefall */

@font-face {
  font-family: "Immortal";
  src: url("./fonts/IMMORTAL.ttf") format("truetype");
}

.godsofthefall input[name="name"],
.godsofthefall input[name="data.teen.basic.name"] {
  font: 1.9em "Immortal";
  letter-spacing: -2px;
  height: 35px;
}

/* shaper */

.divine-spark {
  background-image: url("./images/gods-of-the-fall/Gods-of-the-Fall-07-Matt-Stawicki.webp");
  background-position: right;
  --font-color: #292516;
  --name-shadow: #574e2d;
  --hover-shadow: #161a29;
  --scrollbar-background: #29251680;
}

.divine-spark input[name="name"],
.divine-spark input[name="data.teen.basic.name"] {
  text-shadow: 0px 2px 4px var(--name-shadow);
}

/* hellmaw */

.hellmaw {
  background-image: url("./images/gods-of-the-fall/Gods-of-the-Fall-13-Grzegorz-Pedrycz.webp");
  background-position: left;
  --font-color: #1b285d;
  --name-shadow: #82dfee;
  --hover-shadow: #1b595d;
  --scrollbar-background: #1b285d80;
}

.hellmaw input[name="name"],
.hellmaw input[name="data.teen.basic.name"] {
  text-shadow: 0px 2px 4px var(--name-shadow);
}
