/* godsofthefall main styles*/

/* godsofthefall shaper */

.shaper {
  background-image: url("./images/gods-of-the-fall/Gods-of-the-Fall-07-Matt-Stawicki.webp");
  color: var(--godsofthefall-shaper);
  background-position: right;
}

.shaper input[name="name"] {
  font: 3em "Endoralt";
  letter-spacing: 2px;
  height: 42px;
  margin-top: -7px;
  text-shadow: 0px 2px 4px var(--godsofthefall-shaper-name-shadow);
}

.shaper input,
.shaper select {
  color: var(--godsofthefall-shaper);
}

.shaper input:focus {
  box-shadow: 0 0 5px var(--godsofthefall-shaper-shadow);
}

.shaper a:hover {
  text-shadow: 0 0 8px var(--godsofthefall-shaper-shadow);
}

.shaper ::-webkit-scrollbar-thumb {
  background: var(--godsofthefall-shaper-transparent);
  border: 1px solid var(--godsofthefall-shaper);
}

.shaper h1,
.shaper h2 {
  border-bottom-color: var(--godsofthefall-shaper);
}
