/* numenera main styles */

.numenera input[name="name"] {
  font: 2.2em "QuadratSerial";
  height: 35px;
}

/* numenera archer */

.archer {
  background-image: url("./images/numenera/fantasy-2770468.webp");
  background-position: 30%;
  color: var(--numenera-archer);
}

.archer input,
.archer input {
  color: var(--numenera-archer);
}

.archer input[name="name"] {
  color: var(--numenera-archer-name);
  text-shadow: 0px 4px 5px var(--numenera-archer-name-shadow);
}

.archer input:focus {
  box-shadow: 0 0 5px var(--numenera-archer-shadow);
}

.archer a:hover {
  text-shadow: 0 0 8px var(--numenera-archer-shadow);
}

.archer ::-webkit-scrollbar-thumb {
  background: var(--numenera-archer-transparent);
  border: 1px solid var(--numenera-archer);
}

.archer h1,
.archer h2 {
  border-bottom-color: var(--numenera-archer-name);
}

/* numenera explorer */

.explorer {
  background-image: url("./images/numenera/The-Stars-Are-Fire-55-Katerina-Ladon.webp");
  color: var(--numenera-explorer);
  background-position: 47%;
}

.explorer input,
.explorer input {
  color: var(--numenera-explorer);
}

.explorer input[name="name"] {
  text-shadow: 0px 4px 5px var(--numenera-explorer-name-shadow);
}

.explorer input:focus {
  box-shadow: 0 0 5px var(--numenera-explorer-shadow);
}

.explorer a:hover {
  text-shadow: 0 0 8px var(--numenera-explorer-shadow);
}

.explorer ::-webkit-scrollbar-thumb {
  background: var(--numenera-explorer-transparent);
  border: 1px solid var(--numenera-explorer);
}

.explorer h1,
.explorer h2 {
  border-bottom-color: var(--numenera-explorer);
}

/* numenera obelisk */

.obelisk {
  background-image: url("./images/numenera/MCG-Numenera-Obelisk-of-the-Water-God.webp");
  color: var(--numenera-obelisk);
  background-position: 75%;
}

.obelisk input,
.obelisk input {
  color: var(--numenera-obelisk);
}

.obelisk input[name="name"] {
  text-shadow: 0px 4px 5px var(--numenera-obelisk-name-shadow);
}

.obelisk input:focus {
  box-shadow: 0 0 5px var(--numenera-obelisk-shadow);
}

.obelisk a:hover {
  text-shadow: 0 0 8px var(--numenera-obelisk-shadow);
}

.obelisk ::-webkit-scrollbar-thumb {
  background: var(--numenera-obelisk-transparent);
  border: 1px solid var(--numenera-obelisk);
}

.obelisk h1,
.obelisk h2 {
  border-bottom-color: var(--numenera-obelisk);
}
