/* predation */

@font-face {
  font-family: "Transformers";
  src: url("./fonts/Transformers.ttf") format("truetype");
}

.predation input[name="name"],
.predation input[name="data.teen.basic.name"] {
  font: 2.4em "Transformers";
  height: 35px;
  letter-spacing: 0.5px;
}

/* trex */

.trex {
  background-image: url("./images/predation/Predation-14-Lie-Setiawan.webp");
  background-position: 20%;
  --font-color: #26402a;
  --name-shadow: #925b4a;
  --hover-shadow: #40263c;
  --scrollbar-background: #26402a80;
}

.trex input[name="name"],
.trex input[name="data.teen.basic.name"] {
  text-shadow: -1px 0px 1px var(--name-shadow);
}
