/* ptolus */

.ptolus {
  background-image: url("./images/ptolus/Cypher-System-Rulebook-4-Matt-Stawicki.webp");
  color: var(--ptolus);
  background-position: 90%;
}

.ptolus input[name="name"] {
  font: 2.3em "Prince Valiant";
  height: 37px;
  text-shadow: 1px 1px 1px var(--ptolus-name-shadow);
}

.ptolus input,
.ptolus select {
  color: var(--ptolus);
}

.ptolus input:focus {
  box-shadow: 0 0 5px var(--ptolus-shadow);
}

.ptolus a:hover {
  text-shadow: 0 0 8px var(--ptolus-shadow);
}

.ptolus ::-webkit-scrollbar-thumb {
  background: var(--ptolus-transparent);
  border: 1px solid var(--ptolus);
}

.ptolus h1,
.ptolus h2 {
  border-bottom-color: var(--ptolus);
}
