/* ptolus */

@font-face {
  font-family: "Prince Valiant";
  src: url("./fonts/Prince-Valiant.ttf") format("truetype");
}

.ptolus input[name="name"],
.ptolus input[name="data.teen.basic.name"] {
  font: 2.3em "Prince Valiant";
  height: 37px;
}

/* fighters */

.fighters {
  background-image: url("./images/ptolus/Cypher-System-Rulebook-4-Matt-Stawicki.webp");
  background-position: 90%;
  --font-color: #1a3040;
  --name-shadow: #f1dbc1;
  --hover-shadow: #402a1a;
  --scrollbar-background: #1a304080;
}

.fighters input[name="name"],
.fighters input[name="data.teen.basic.name"] {
  text-shadow: 1px 1px 1px var(--name-shadow);
}
