/* starsarefire */

@font-face {
  font-family: "Star Jedi Outline";
  src: url("./fonts/Starjout.ttf") format("truetype");
}

.starsarefire input[name="name"],
.starsarefire input[name="data.teen.basic.name"] {
  font: 2em "Star Jedi Outline";
  height: 35px;
  text-transform: lowercase;
  margin-top: -3px;
}

/* starfighter */
.starfighter {
  background-image: url("./images/the-stars-are-fire/The-Stars-Are-Fire-03-Katerina-Ladon.webp");
  background-position: center;
  --font-color: #31397c;
  --hover-shadow: #7c3139;
  --scrollbar-background: #31397c80;
}

/* explorer */

.explorer {
  background-image: url("./images/the-stars-are-fire/The-Stars-Are-Fire-55-Katerina-Ladon.webp");
  background-position: 47%;
  --font-color: #321b40;
  --hover-shadow: #1b4032;
  --scrollbar-background: #321b4080;
}
