/* stayalive */

@font-face {
  font-family: "Swamp";
  src: url("./fonts/ilits.ttf") format("truetype");
}

.stayalive input[name="name"],
.stayalive input[name="data.teen.basic.name"] {
  font: 3em "Swamp";
  height: 50px;
  margin-top: 5px;
  letter-spacing: 1px;
}

/* surrounded */

.surrounded {
  background-image: url("./images/stay-alive/Cypher-System-Rulebook-03-Martin-DeDiego.webp");
  background-position: 75%;
  --font-color: #660000;
  --hover-shadow: #000000;
  --scrollbar-background: #66000080;
}
