/* thestrange */

.thestrange input[name="name"],
.thestrange input[name="data.teen.basic.name"] {
  font: 2.2em "Extraction";
  height: 35px;
}

/* alien */

.alien {
  background-image: url("./images/the-strange/Cypher-System-Rulebook-05-Martin-DeDiego.webp");
  background-position: center;
  --font-color: #2b253e;
  --name-shadow: #ffbc75;
  --hover-shadow: #383e25;
  --scrollbar-background: #2b253e80;
}

.alien input[name="name"],
.alien input[name="data.teen.basic.name"] {
  text-shadow: -1px 0px 1px var(--name-shadow);
}
