/* thestrange */

@font-face {
  font-family: "Extraction";
  src: url("./fonts/extraction.ttf") format("truetype");
}

.thestrange input[name="name"],
.thestrange input[name="data.teen.basic.name"] {
  font: 2.2em "Extraction";
  height: 35px;
}

/* alien */

.alien {
  background-image: url("./images/the-strange/Cypher-System-Rulebook-05-Martin-DeDiego.webp");
  background-position: center;
  --font-color: #2b253e;
  --name-shadow: #ffbc75;
  --hover-shadow: #383e25;
  --scrollbar-background: #2b253e80;
}

.alien input[name="name"],
.alien input[name="data.teen.basic.name"] {
  text-shadow: -1px 0px 1px var(--name-shadow);
}

/* recursion */

.recursion {
  background-image: url("./images/the-strange/The-Strange-Matt-Stawicki.jpeg");
  background-position: right;
  --font-color: #f9f9f9;
  --name-shadow: #00f7ff;
  --hover-shadow: #fff;
  --scrollbar-background: #f9f9f980;
}

.recursion > form {
  background: rgba(43, 37, 62, 0.5);
  text-shadow: 0px 0px 10px rgba(43, 37, 62);
}

.recursion input,
.recursion select,
.recursion .linkedButton {
  text-shadow: 0px 0px 10px rgba(43, 37, 62);
}

.recursion input[name="name"],
.recursion input[name="data.teen.basic.name"] {
  text-shadow: 0.5px 0.5px 1.5px var(--name-shadow);
}

.recursion a:hover,
.recursion input:focus,
.recursion .linkedButton:focus {
  filter: brightness(1.5);
}

.recursion .Inability {
  color: #ff8383;
}

.recursion .Specialized {
  color: #8f8fff;
}

.recursion .Trained {
  color: #80e080;
}
