/* unmasked */

.unmasked input[name="name"],
.unmasked input[name="data.teen.basic.name"] {
  font: 2.1em "Thunderman";
  height: 38px;
  letter-spacing: -1.5px;
}

/* teen */

.teen {
  background-image: url("./images/unmasked/Unmasked-11-Cathy-Wilkins.webp");
  background-position: 15%;
  --font-color: #163946;
  --hover-shadow: #f27ab4;
  --scrollbar-background: #16394680;
}

.teen input[name="name"],
.teen input[name="data.teen.basic.name"] {
  text-shadow: 1px 1px 5px var(--hover-shadow);
}
