/* COLOR VARIABLES */

:root {
  --numenera-obelisk: #35315a;
  --numenera-obelisk-name-shadow: #82a290;
  --numenera-obelisk-shadow: #4c5a31;
  --numenera-obelisk-transparent: #35315a80;
  --godforsaken-archer-name: #036170;
  --godforsaken-archer-name-shadow: #b4dcec;
  --godforsaken-archer-transparent: #046c7d80;
  --godforsaken-archer: #011714;
  --godforsaken-archer-shadow: #035a68;
  --godforsaken-combat: #002f23;
  --godforsaken-combat-name-shadow: #6f9485;
  --godforsaken-combat-shadow: #2f000c;
  --godforsaken-combat-transparent: #002f2380;
  --godsofthefall-shaper: #292516;
  --godsofthefall-shaper-name-shadow: #574e2d;
  --godsofthefall-shaper-shadow: #161a29;
  --godsofthefall-shaper-transparent: #29251680;
  --claimthesky: #800000;
  --claimthesky-name-shadow: #ffe154;
  --claimthesky-shadow: #008080;
  --claimthesky-transparent: #80000080;
  --predation-trex: #26402a;
  --predation-trex-shadow: #925b4a;
  --predation-trex-transparent: #26402a80;
  --thestrange-alien: #2b253e;
  --thestrange-alien-name-shadow: #ffbc75;
  --thestrange-alien-shadow: #383e25;
  --thestrange-alien-transparent: #2b253e80;
  --stayalive-surrounded: #660000;
  --stayalive-surrounded-shadow: #000000;
  --stayalive-surrounded-transparent: #66000080;
  --starsarefire-starfighter: #31397c;
  --starsarefire-starfighter-shadow: #7c3139;
  --starsarefire-starfighter-transparent: #31397c80;
  --starsarefire-explorer: #321b40;
  --starsarefire-explorer-name-shadow: #9980af;
  --starsarefire-explorer-shadow: #1b4032;
  --starsarefire-explorer-transparent: #321b4080;
  --ptolus-fighters: #1a3040;
  --ptolus-fighters-name-shadow: #f1dbc1;
  --ptolus-fighters-shadow: #402a1a;
  --ptolus-fighters-transparent: #1a304080;
  --waamh-castle: #273a24;
  --waamh-castle-name-shadow: #f1a58c;
  --waamh-castle-shadow: #37243a;
  --waamh-castle-transparent: #273a2480;
  --unmasked: #163946;
  --unmasked-name-shadow: #f27ab4;
  --unmasked-shadow: #f27ab4;
  --unmasked-transparent: #16394680;
}
