/* COLOR VARIABLES */

:root {
  --numenera-explorer: #321b40;
  --numenera-explorer-transparent: #321b4080;
  --numenera-archer: #046c7d;
  --numenera-archer-transparent: #046c7d80;
  --numenera-monolith: #742a15;
  --numenera-monolith-transparent: #742a1580;
}
