/* waamh castle */

.castle {
  background-image: url("./images/waamh/We-Are-All-Mad-Here-17-Nino-Vecia.webp");
  color: var(--waamh-castle);
  background-position: center;
}

.castle input[name="name"] {
  font: 2em "Cardinal";
  height: 37px;
  letter-spacing: -0.5px;
  margin-top: 5px;
  text-shadow: -1px -1px 1px var(--waamh-castle-name-shadow);
}

.castle input,
.castle select {
  color: var(--waamh-castle);
}

.castle input:focus {
  box-shadow: 0 0 5px var(--waamh-castle-shadow);
}

.castle a:hover {
  text-shadow: 0 0 8px var(--waamh-castle-shadow);
}

.castle ::-webkit-scrollbar-thumb {
  background: var(--waamh-castle-transparent);
  border: 1px solid var(--waamh-castle);
}

.castle h1,
.castle h2 {
  border-bottom-color: var(--waamh-castle);
}
