/* waamh */

.waamh input[name="name"],
.waamh input[name="data.teen.basic.name"] {
  font: 2em "Cardinal";
  height: 37px;
  letter-spacing: -0.5px;
  margin-top: 5px;
}

/* castle */

.castle {
  background-image: url("./images/waamh/We-Are-All-Mad-Here-17-Nino-Vecia.webp");
  background-position: center;
  --font-color: #273a24;
  --name-shadow: #f1a58c;
  --hover-shadow: #37243a;
  --scrollbar-background: #273a2480;
}

.castle input[name="name"],
.castle input[name="data.teen.basic.name"] {
  text-shadow: -1px -1px 1px var(--name-shadow);
}
